@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 0 var(--header-height 0);
  font-family: var(--body-font);
  font-size: var(--m-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

//active link in the navigation menu
.active-link {
  color: var(--first-color) !important;
}

//class to change the bg header
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

//show the wrap button
.show-scroll {
  bottom: 5rem;
}
//Scrollbar
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color) !important;
  border-radius: 0.3rem;
}
scrollbar-color {
  background-color: var(--scroll-bar-color) !important;
}

scrollbar-width {
  width: 0.6rem;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.3rem;
  &:hover {
    background-color: var(--first-color-second);
  }
}

canvas#canvas {
  position: absolute;
  opacity: 0.09;
  filter: blur(x4);
  width: 98vw;
  height: 100vh !important;
  box-shadow: 0 0 rem(60) rem(60) var(--first-color) inset,
    0 0 rem(60) rem(60) var(--first-color);
}

.project__link {
  font-size: 2.5rem;

  &:hover {
    color: var(--first-color-lighter);
    text-shadow: 0px 0px 30px var(--first-color);
    transition: all 0.2s ease-in;
  }
}
