@use "../util" as *;

// Small
@include breakpoint-down(x-small) {
  .container {
    margin-left: var(--mb-1) !important;
    margin-right: var(--mb-1) !important;
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0 !important;
  }

  .home__content {
    grid-template-columns: 3fr;
    text-align: center;
  }

  .home__img {
    text-align: center;
  }
  .home__blob {
    width: rem(150);
  }

  .skills__title {
    font-size: var(--m-font-size);
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding: 3rem 3rem 1rem !important;
  }
  .services__modal {
    padding: 0.5rem !important;
  }
  // .project__img {
  //   width: rem(200);
  // }
  .testimonial__data,
  .testimonial__header {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }
  .stestimonial__data,
  .testimonial__description {
    text-align: center;
  }
}
@media screen and (min-width: 350px) and (max-width: 639px) {
  .home__content {
    text-align: center;
  }
}
//Medium

@include breakpoint(medium) {
  .home {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .home__content {
    grid-template-columns: 2fr 1fr;
    text-align: center;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 2;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  // .project__container
  .contact__container,
  .footer__container {
    grid-template-columns: 2fr 2fr;
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .contact__me {
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .qualification__tabs {
    justify-content: space-evenly;
  }
  .footer__container {
    grid-template-columns: 1fr max-content;
  }
  .footer__link {
    text-align: center;
    @include vertical-center();
  }
}

@media screen and (min-width: 800px) {
  .home {
    height: 100vh;
  }

  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  body {
    margin: 0 !important;
  }
  .section {
    padding: 6rem 0 2rem !important;
  }
  .section__subtitle {
    margin-bottom: 4rem !important;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem !important;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex !important;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin-right: 1rem;
  }
  .home__container {
    row-gap: 5rem !important;
  }
  .home__content {
    grid-template-columns: 2fr 1fr;
    padding-top: 0rem;
    column-gap: 2rem;
    text-align: initial;
  }
  .home__blob {
    width: rem(250);
  }
  .home__scroll {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 50%;
  }

  .about__container {
    column-gap: 5rem !important;
  }
  .about__img {
    width: rem(300);
  }

  .about__info {
    justify-content: space-between;
  }

  .qualification__tabs {
    justify-content: space-evenly;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }

  .services__container {
    grid-template-columns: repeat(3, rem(218));
    justify-content: center;
  }

  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services__modal-content {
    width: rem(450);
  }

  .portoflio__img {
    width: rem(320);
  }
  // .project__bg {
  //   background: none !important;
  // }
  // .project__container {
  //   background-color: var(--first-color-second);
  //   border-radius: 1rem;
  //   padding: 3rem 2.5rem 0 !important;
  //   grid-template-columns: 1fr max-content;
  //   column-gap: 3rem;
  // }

  // .project__data {
  //   padding: 2rem !important;
  // }
  .footer__container {
    grid-template-columns: 1fr max-content;
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
  .footer__socials {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 15rem;
    left: 0.5rem;
    //border info below
    border: 1px solid hsl(var(--hue-color), 50%, 50%, 0.2);
    border-radius: 0.5rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .footer__social {
    margin-bottom: 1rem !important;
    color: var(--first-color-alt) !important;
    font-size: 1.3rem;
    //border info below
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }
  .footer__link {
    text-align: center;
    @include vertical-center();
  }
}
//Large
@include breakpoint(large) {
  .container {
    max-width: rem(1000) !important;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 !important;
  }
  .home__blob {
    width: rem(320);
  }
  .services__container {
    grid-template-columns: repeat(3, rem(300));
  }
  .portfolio__content {
    column-gap: 5rem !important;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .contact__form {
    width: rem(450) !important;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .home {
    display: flex;
    align-items: center;
  }
}
