@use "../util" as *;

// Small
@include breakpoint-down(x-small) {
  .container {
    margin-left: var(--mb-1) !important;
    margin-right: var(--mb-1) !important;
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0 !important;
  }

  .home__content {
    grid-template-columns: 3fr;
  }

  .home__img {
    text-align: center;
  }
  .home__blob {
    width: rem(150);
  }

  .skills__title {
    font-size: var(--m-font-size);
  }
}
//Medium

//Large
